<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZlSZLCMJHQ5PBCYNPzjNft0md0pP1Vio</string>
	<key>GCM_SENDER_ID</key>
	<string>396618596567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.githubMobileApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>github-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>github-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396618596567:ios:a8eee003b91d85b8563092</string>
</dict>
</plist>